<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Condominios</title>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <section th:replace="~{Modelos/fragmentos :: botonesAgregar}"/>
        <section th:replace="~{Modelos/fragmentos :: agregar}"/> 
        <section th:replace="~{Modelos/fragmentos :: listado}"/>
         <section th:replace="~{Modelos/fragmentos :: botonesEliminar}"/>

        <footer th:replace="~{layout/plantilla :: footer}"/>      
      
    </body>
</html>